//Footer Top
._footer-top {
  color: white;
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  section._footer-logo {
    padding: 40px 0;
    background: url("/img/dc-logo-bg.png") no-repeat;
    background-position: right center;
    
    ul._footer-shop {
      padding-top: 15px;
    }
    ul._footer-dc-site {
      padding-left: 40px;
      display: inline-block;
      vertical-align: top;
    }
    
    li h4 {
      color: white;
      padding-bottom: 10px;
      font-weight: 700;
    }
    li a h5{
      color: $color-grey;
      padding-bottom: 5px;
      &:hover {
        text-decoration: underline;
      }
    }

    ._cookies {
      padding-top: 10px;
      color: $color-grey; 

      a {
        color: $color-primary
      }
    }
  }
};


//Footer Bottom
._footer-bottom {
  background-color: #303030;

  ._box-grey {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


    ._follow {
      display: flex;
      align-items: center;

      h4 {
        font-weight: 700;
        color: $color-primary;
        display: inline-block;
        padding-right: 10px;
        vertical-align: super;
      };

      ul {
        li {
          padding: 0 8px;
          a {
            img {
              width: 32px;
            }
          }
        }
      }
    }
  }
}